<!DOCTYPE html>
<html lang="en">

  <body>
    <%- include('header'); -%>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <br>
      <br>
      <h2>Fruits</h2>

      <% if(fruits.length > 0) { %>
        <% for (var f = 0; f < fruits.length; f++) { %>
          <div class="alert alert-success"><strong> <%= fruits [f] %></strong></div>
        <% } %>
      <% } %>
    </div>


  </body>
</html>
