<%- include ('header') -%>

<div role="main" class="container">
  <br /><br />

  <h2>Welcome to the <%= message %>!</h2>
  <img style="max-width: 100%; height: auto;" src="https://cdn.wallpapersafari.com/60/95/taQHl7.jpg" alt="Awesome Smile Face">
</div>

<%- include('footer') -%>
