<%- include ('header') -%>

<div role="main" class="container">
  <br /><br />

  <h2>Welcome to the <%= message %>!</h2>
  <img style="max-width: 100%; height: auto;" src="https://i.pinimg.com/736x/19/85/ef/1985ef72baeb6b8f87c33b66d3f6ebde.jpg" alt="Awesome Smile Face">
</div>

<%- include('footer') -%>
