<%- include ('header') -%>

<div role="main" class="container">
  <br /><br />

  <h2>Welcome to the <%= message %>!</h2>
  <img style="max-width: 100%; height: auto;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.askideas.com%2Fmedia%2F07%2FAwesome-Smiley-Picture.jpg&f=1&nofb=1" alt="Awesome Smile Face">
</div>

<%- include('footer') -%>
