<%- include ('header') -%>

<div role="main" class="container">
  <br /><br />

  <h2>Welcome to the <%= message %>!</h2>
  <img style="max-width: 100%; height: auto;" src="https://mtv.mtvnimages.com/uri/mgid:ao:image:mtv.com:686674?quality=0.8&format=jpg" alt="Awesome Smile Face">
</div>

<%- include('footer') -%>
